[submodule "qextserialport"]
	path = qextserialport
	url = https://github.com/qextserialport/qextserialport
[submodule "singleapplication"]
	path = singleapplication
	url = https://github.com/itay-grudev/SingleApplication.git
