[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Qt Serial Term
Comment=Qt Serial Term
Type=Application
Exec=qst
Icon=qst
Terminal=false
StartupWMClass=qst
StartupNotify=true
Categories=QT;Development;
