#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


%:
	dh $@ 
	
# get version
VER := $(shell grep "^VERSION" $(CURDIR)/qst.pro )
VERSION := $(shell echo '$(VER)'  | awk '{print $3}')
#VERSION := $(shell grep "^VERSION" $(CURDIR)/qst.pro| sed -n -e 's/^Version: //p')
#$(shell echo "VERSION=$(VERSION)")
#update version to changelog

# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
override_dh_auto_configure:
	qmake
	dh_auto_configure
	
# TODO: multi language
#override_dh_auto_build:
#	dh_auto_build
#	lrelease -nounfinished $(CURDIR)/lang/de_DE.ts $(CURDIR)/lang/de_DE.qm
	
override_dh_auto_install:
	dh_auto_install
	install -m 644 $(CURDIR)/images/qst-logo.png $(CURDIR)/debian/qst/usr/share/pixmaps/qst.png 

